<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Admin" value="0639,0340"/>
    <add key="BaaNLive" value="True"/>
    <add key="JoomlaLive" value="True"/>
    <add key ="Testing" value="False"/>
    <!--Local means Local to server-->
    <add key="IsLocalISGECVault" value="True" />
    
    <add key="ISGECVaultIP" value="192.9.200.146" />
  </appSettings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime executionTimeout="14400" maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" targetFramework="4.5"/>
  </system.web>

</configuration>
